<% unless cart.line_items.empty? %>
	<div class="col-lg-2 col-md-6 pull-right">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-12 text-right">
                                    <div class="huge"><strong>Your Cart</strong></div>
                                    <div><%= render(cart.line_items) %></div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left"><strong>Total: <%= number_to_currency(cart.total_price) %><strong>
								</br></br>
								<%= button_to 'Empty cart', @cart, :method => :delete,
								:confirm => 'Are you sure?', :class => 'btn btn-default btn-sm' %>
								</br>								
								<%= button_to "Checkout" , new_order_url, :method=>:get,:class => 'btn btn-default btn-sm' %>
								</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>								
                            </div>
                        </a>
                    </div>
     </div>
 
<!--
<table>
<%= render(cart.line_items) %>
<tr class="total_line">
<td colspan="2">Total</td>
<td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
</tr>
</table>
<%= button_to 'Empty cart', @cart, :method => :delete,
:confirm => 'Are you sure?', :class => 'btn btn-default' %>
-->


<% end %>