<% if notice %>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <p id="notice"><%= notice %>!</p>
</div>
<% end %>

<% if alert %>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <p id="alert"><%= alert %>!</p>
</div>
<% end %>


	<!-- Cart partial -->
		<div id="cart" class="row">
		<div class="span4">
			<%= render @cart %>
		</div> 
		</div> 

<h3>Your Book Catalog</h3> 

<div class="pull-right">
<%= form_tag(store_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Books by Title" %>
  <%= submit_tag "Search", :title => nil, class: "btn btn-large btn-default" %>
<% end %>
</div><br><br>





	
<% @products.each do |product| %>
<!--<div class="well">-->
<table class="table">	
  <td>			  
  	<%= image_tag(product.image_url,:class=>"img-rounded" )%>
  </td>
  	<td> <%= product.title %> </td>
  	<td><%=sanitize product.description %></td>
  <td>
  	<p class="text-right"
  	<div class="price_line">
  		<span class="price"><%= number_to_currency(product.price,:locale => :usa) %></span>
  		<%= button_to 'Add to Cart', line_items_path(:product_id => product), :remote => true, :class => 'btn btn-default btn-sm pull-right' %>
  	</div>
  	</p>
  </td>
</table>
<!--</div>-->
<% end %>

<p><%= will_paginate @products %></p>
